@model tl2_tp5_2022_TRIXServer.Models.Cadete

@{
    ViewData["Title"] = "Edit Cadete";
}

<hr />

@using (Html.BeginForm("editCadete", "Home"))
{
    <table>
        <tr>
            <td>
                Nombre: 
            </td>
            <td>
                <label for="nombre">
                    <input type="text" name="dataNombre" id="dataNombre" value="@Model.Nombre">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                Telefono: 
            </td>
            <td>
                <label for="telefono">
                    <input type="text" name="dataTelefono" id="dataTelefono" value="@Model.Telefono">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                Direccion: 
            </td>
            <td>
                <label for="direccion">
                    <input type="text" name="dataDireccion" id="dataDireccion" value="@Model.Direccion">
                </label>
            </td>
        </tr>
        <tr>
            <td colspan = 2>
               <input type="hidden" name="dataId" value="@Model.Id_persona">
               <input type="submit", value="Edit">
            </td>
        </tr>
    </table>

<hr />

@Html.ActionLink("Cancelar", "Index", "Home")

}